@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;

@layer base {
	body {
		@apply text-dark-he dark:text-light-he text-base font-normal font-karla;
	}
	h1 {
		@apply font-montserrat text-h1-mobile lg:text-h1 font-semibold;
	}
	h2 {
		@apply font-montserrat text-h2-mobile lg:text-h2 font-semibold;
	}
	h3 {
		@apply font-montserrat text-h3-mobile lg:text-h3 font-bold;
	}
	h4 {
		@apply font-montserrat text-h4-mobile lg:text-h4 font-bold;
	}
	h5 {
		@apply font-montserrat text-h5-mobile lg:text-h5 font-bold;
	}
	p {
		@apply text-base;
	}
	button {
		@apply font-medium
	}
}

@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply relative inline-flex h-max w-max min-w-[max(4rem,max-content)] cursor-pointer items-center justify-center rounded-[4px] py-2 px-4 text-button font-medium text-light-he transition-all focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
	}

	.btn-primary {
		@apply bg-primary-500 hover:bg-primary-400 focus-visible:ring-primary-500 active:bg-primary-700;
	}

	.btn-secondary {
		@apply bg-secondary-500 hover:bg-secondary-400 focus-visible:ring-secondary-500 active:bg-secondary-700;
	}

	.btn-success {
		@apply bg-success-500 hover:bg-success-400 focus-visible:ring-success-500 active:bg-success-700;
	}

	.btn-error {
		@apply bg-error-500 hover:bg-error-400 focus-visible:ring-error-500 active:bg-error-700;
	}

	.btn-gray {
		@apply bg-gray-500 hover:bg-gray-400 focus-visible:ring-gray-500 active:bg-gray-700;
	}
}

@layer utilities {
	.clickable {
		@apply border transition;
	}

	.unclickable {
		@apply cursor-default text-dark-me;
	}

	.clickable.unselected {
		@apply cursor-pointer border-transparent text-dark-me hover:border-cyan-100 hover:bg-cyan-50;
	}

	.clickable.selected {
		@apply cursor-default border-cyan-500 text-cyan-500;
	}

	.kerning {
		font-kerning: auto;
	}
	.kerning-normal {
		font-kerning: normal;
	}
	.kerning-none {
		font-kerning: none;
	}
}

::-webkit-scrollbar {
	display: none;
}
